datasets/ViNewsQA/
datasets/ViQuAD1.0/
datasets/processed/*
*__pycache__/
output/
.DS_Store
.vscode
client_secrets.json
mycreds.txt
Datasets
credentials*
settings.yaml
vn_qa_gen.egg-info
debug*.txt
vncorenlp/*
